
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">{{'areagroupDetails' | translate}}</h3>
                        <p class="card-category">  {{'areagroupManagement' | translate}}</p>
                    </div> 
                    <div class="card-body" *ngIf="!isLoading">
                        <app-dynamic-details [detailsInput]="detailsInput"></app-dynamic-details>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

