<app-navbar></app-navbar>

<div class="row log">
    <div class="col-md-6" *ngIf="currentStep == 1">

        <div>
            <br />
            <div class="row col-md-12 justify-content-center">
                <img src="../../../assets/img/resetPassword.png">
            </div>
            <br />
            <br />
        </div>

        <div class="text-center">
            <h2>{{ 'resetYourPassword' | translate }}</h2>
        </div>

        <div class="col-md-12 text-center">
            {{ 'feelingLost' | translate }}
            <a [routerLink]="['/auth/login']">{{ 'login' | translate }}</a>
        </div>

        <br />
        <br />
        <br />
        <form [formGroup]="forgetPasswordForm">
            <div class="row" style="justify-content: center;">
                <div class="col-md-10 p-3">
                    <mat-form-field class='col-md-12' floatLabel="always" appearance="outline">
                        <mat-label>{{ 'phoneNumber' | translate }}</mat-label>
                        <span style="position: initial;" matPrefix>+971
                            &nbsp;</span>
                        <input formControlName="phoneNumber" matInput type="text" class="pl-5" />
                        <mat-error
                            *ngIf="forgetPasswordForm.get('phoneNumber').touched && forgetPasswordForm.get('phoneNumber').errors?.required">
                            {{'requiredField' | translate }}
                        </mat-error>
                        <mat-error
                            *ngIf="forgetPasswordForm.get('phoneNumber').touched && forgetPasswordForm.get('phoneNumber').invalid">
                            {{'invalidPhoneNumber' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <br />

        <div class="row" style="justify-content: center;">
            <div class="col-md-10 p-3">
                <button mat-flat-button class="btn btn-primary col-md-12" [disabled]="forgetPasswordForm.invalid "
                    (click)="onResetClick()">
                    {{ 'sendOtp' | translate}}
                </button>
            </div>
        </div>

    </div>


    <div class="col-md-6" *ngIf="currentStep == 2">

        <div>
            <br />
            <div class="row col-md-12 justify-content-center">
                <img src="../../../assets/img/resetPassword.png">
            </div>
            <br />
            <br />
        </div>

        <div class="text-center">
            <h2>{{ 'resetYourPassword' | translate }}</h2>
        </div>

        <div class="col-md-12 text-center">
            {{ 'enterCode' | translate }}
        </div>
        <br />

        <div class="fieldsContainer">
            <mat-form-field class='col-3 col-md-3 col-sm-3' appearance="outline">
                <input class="code-number" id="1" type="number" matInput (keyup)="validateCodeNumber($event)" />
            </mat-form-field>

            <mat-form-field class='col-3 col-md-3 col-sm-3' appearance="outline">
                <input class="code-number" id="2" type="number" matInput (keyup)="validateCodeNumber($event)" />
            </mat-form-field>

            <mat-form-field class='col-3 col-md-3 col-sm-3' appearance="outline">
                <input class="code-number" id="3" type="number" matInput (keyup)="validateCodeNumber($event)" />
            </mat-form-field>

            <mat-form-field class='col-3 col-md-3 col-sm-3' appearance="outline">
                <input class="code-number" id="4" type="number" matInput (keyup)="validateCodeNumber($event)" />
            </mat-form-field>
        </div>


        <div class="row text-center">
            <div class="col-md-6 mb-2">
                <button [disabled]="resendCounter>0" (click)="onResetClick()" mat-flat-button
                    class="btn btn-primary col-md-12" color="primary">
                    {{ 'resend' | translate}} <span *ngIf="resendCounter>0"> ( {{resendCounter}} )</span>
                </button>
            </div>
            <div class="col-md-6">
                <button mat-flat-button class="btn btn-primary col-md-12 back-button" (click)="backToEmail()">
                    {{ 'back' | translate}}
                </button>
            </div>
        </div>
    </div>


    <div class="col-md-6" *ngIf="currentStep == 3">

        <div>
            <br />
            <div class="row col-md-12 justify-content-center">
                <img src="../../../assets/img/resetPassword2.png">
            </div>
            <br />
            <br />
        </div>


        <div class="text-center">
            <h2>{{ 'resetYourPassword' | translate }}</h2>
        </div>

        <br />
        <form [formGroup]="updatePasswordForm">

            <mat-form-field class='col-md-12' appearance="outline">
                <mat-label>{{ 'newPassword' | translate }}</mat-label>
                <input matInput autocomplete="additional-name" placeholder="{{'enterYourNewPassword' | translate}}"
                    [type]="hidePassword ? 'password' : 'text'" type="password" formControlName='password' />
                <i class="fa fa-eye" matSuffix (click)="hidePassword = !hidePassword"></i>
            </mat-form-field>

            <mat-form-field class='col-md-12' appearance="outline">
                <mat-label>{{ 'repeatPassword' | translate }}</mat-label>
                <input matInput autocomplete="additional-name-2" [type]="hideConfirmPassword ? 'password' : 'text'"
                    type="password" formControlName='confirmPassword' />
                <i class="fa fa-eye" matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"></i>
            </mat-form-field>

            <br />

        </form>
        <div class="col-md-12 text-center">
            <button mat-flat-button class="btn btn-primary col-md-12" class="col-md-12" color="primary"
                (click)="onUpdatePassword()">
                {{ 'updatePassword' | translate}}
            </button>
        </div>
    </div>


    <br />
    <br />


</div>