<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h3 class="card-title ">{{'createEndUser' | translate}}</h3>
                        <p class="card-category">  {{'endUsersManagement' | translate}}</p>
                    </div>
                    <div class="card-body" *ngIf="!isLoading">
                        <app-dynamic-form [formInput]="dynamicFormInput" (actionSubmitted)="serveAction($event)"></app-dynamic-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
